
<div class="container content-sm">
    <div class="row">
        <!-- Social Network -->
        <div class="col-md-6 md-margin-bottom-50">
            <div class="headline-left margin-bottom-30">
                <h2 class="headline-brd heading-md">SOBRE <span class="color-green">MIM</span></h2>
            </div>
            <p>Aspirante a <a href="http://manifesto.softwarecraftsmanship.org/#/pt-br" target="_blank">Artesão de Software</a>, apaixonado pela profissão, fazendo seu melhor para influenciar aqueles à seu redor.</p>
            <p>Gostaria de falar comigo? entre em <a>Contato</a>.</p>
            <br>
            <ul class="list-inline social-icons-v1">
                <li><a href="https://twitter.com/BrenoSarkis" target="_blank"><i class="rounded-x fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/breno.sarkis.9" target="_blank"><i class="rounded-x fa fa-facebook"></i></a></li>
                <li><a href="https://plus.google.com/u/0/117134359141519578592/about/p/pub" target="_blank"><i class="rounded-x fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="rounded-x fa fa-instagram"></i></a></li>
            </ul>
        </div>
        <!-- End Social Network -->
        <!-- Progress Bar -->
        <div class="col-md-6 progress-box md-margin-bottom-50">
            <div class="headline-left margin-bottom-30">
                <h2 class="headline-brd heading-md">MINHAS <span class="color-green">HABILIDADES</span></h2>
            </div>
            <h3 class="heading-xs">Arquitetura & Boas práticas <span class="pull-right">85%</span></h3>
            <div class="progress progress-u progress-xxs" style="opacity: 1; left: 0px;">
                <div class="progress-bar progress-bar-dark-blue" role="progressbar" data-width="85" style="width: 85%;">
                </div>
            </div>
            <h3 class="heading-xs">Desenvolvimento Back-End<span class="pull-right">80%</span></h3>
            <div class="progress progress-u progress-xxs" style="opacity: 1; left: 0px;">
                <div class="progress-bar progress-bar-dark-blue" role="progressbar" data-width="75" style="width: 75%;">
                </div>
            </div>
            <h3 class="heading-xs">Desenvolvimento Front-End <span class="pull-right">70%</span></h3>
            <div class="progress progress-u progress-xxs" style="opacity: 1; left: 0px;">
                <div class="progress-bar progress-bar-dark-blue" role="progressbar" data-width="57" style="width: 57%;">
                </div>
            </div>
        </div>
        <!-- End Progress Bar -->
    </div><!--/end row-->
</div>