@model Blog.Web.Models.ComentarioViewModel

<!-- Comment Form -->
@using (Html.BeginForm("Comentar", "Blog", FormMethod.Post, new { @class = "sky-form comment-style" }))
{
    @Html.HiddenFor(model => model.UrlDoPost);
    <h2 class="margin-bottom-20">Envie um comentário</h2>
    <fieldset>
        <div class="row sky-space-30">
            <div class="col-md-6">
                <div>
                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", @placeholder = "Nome" })
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
                </div>
            </div>
        </div>

        <div class="sky-space-30">
            <div>
                @Html.TextAreaFor(model => model.Mensagem, new { @class = "form-control", @placeholder = "Mensagem...",  @rows = "8" })
            </div>
        </div>

        <p><button type="submit" class="btn-u">Enviar Comentário</button></p>
    </fieldset>
}
<!-- End Comment Form -->
